# Python / Django
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.log

# DB files
*.sqlite3
db.sqlite3

# Virtual environments
.venv/
venv/
env/
backend/.venv/

# Django build artifacts
staticfiles/
media/
*.pdf

# IDE / OS
.vscode/
.idea/
.DS_Store

# Environment files
.env
.env.*
!.env.example
backend/.env
frontend/.env
backend/.env.txt

