<!-- {% extends "base.html" %}
{% block content %}
<h2>{{ profesional.apellido }}, {{ profesional.nombre }}</h2>
<ul>
    <li><b>DNI:</b> {{ profesional.dni }}</li>
    <li><b>Matrícula:</b> {{ profesional.matricula }}</li>
    <li><b>Especialidad:</b> {{ profesional.especialidad }}</li>
    <li><b>Email:</b> {{ profesional.email }}</li>
    <li><b>Teléfono:</b> {{ profesional.telefono }}</li>
    <li><b>Dirección:</b> {{ profesional.direccion }}</li>
    <li><b>Activo:</b> {{ profesional.activo }}</li>
    <li><b>Alta:</b> {{ profesional.fecha_alta }}</li>
    <li><b>Baja:</b> {{ profesional.fecha_baja }}</li>
</ul>
<a href="{% url 'profesionales:list' %}">⬅️ Volver</a>
{% endblock %} -->
